.project
*.log
*/node-log.log
logs/*
log/*
!/logs/.gitkeep
!.gitignore
*/node_modules/*
node_modules/*
.settings/
**/*.svn
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.idea
*.md5
*.gz
config/*/client_secret
CMakeCache.txt
cmake-build-debug/*
CMakeFiles/*
Makefile
*.cbp
**/CMakeFiles/*
*.cmake
**/bin/*
**/lib/*
*.pid
